*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: red white;
    
}

a{
    text-decoration: none;
    color: red;
    
}

.bordes{
    border: 1px solid black;

}

.bordesForm{
    border: 1px solid red;
}

.botones{
    display: flex;
    justify-content: center;
}
.ocultar {
    display: none;
}
.mensajeError {
    width: 100%;
    color: white;
    background-color: red;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
.formulario {
    width: 100%;
}
.input-form {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}