*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: red white;
    
}

a{
    text-decoration: none;
    color: red;
    
}

.bordes{
    border: 1px solid black;

}

.bordesForm{
    border: 1px solid red;
}

.botones{
    display: flex;
    justify-content: center;
}
